<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://wx4.sinaimg.cn/thumbnail/bfc243a3gy1febm7tekewj20i20i4aoy.jpg</string>
		<string>http://wx4.sinaimg.cn/large/bfc243a3gy1febm7tekewj20i20i4aoy.jpg</string>
		<string>(8)过去心不可得,现在心不可得,未来心不可得.</string>
	</array>
	<array>
		<string>http://wx3.sinaimg.cn/thumbnail/bfc243a3gy1febm7usmc8j20i543zngx.jpg</string>
		<string>http://wx3.sinaimg.cn/large/bfc243a3gy1febm7usmc8j20i543zngx.jpg</string>
		<string>(9)纵使经百劫,所作业不亡,因缘会遇时,果报还自受.</string>
	</array>
</array>
</plist>
